rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // প্রতিটা দোকানের ডেটায় শুধু সেই দোকানের মালিকই ঢুকতে পারবে
    match /shops/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
